@model IEnumerable<MVCGame.Models.Game>
@{
    ViewData["Title"] = "GAME ROOMS";
}

<h3>Game rooms</h3>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td></td><td></td>
    </tr>
    @foreach (var game in Model)
    {
    <tr>
        <td>@game.Id</td>
        <td>@game.Name</td>
        <td><a asp-area="" asp-controller="Game" asp-action="Play" asp-route-RoomID="@game.Id">JOIN</a></td>
        <td><a asp-area="" asp-controller="Game" asp-action="Edit" asp-route-RoomID="@game.Id">EDIT</a></td>
    </tr>
    }
</table>