@model IEnumerable<MVCGame.Models.Game>
@model List<MVCGame.Models.Square>

<style>
    #container {
        width: 640px;
        height: 480px;
        margin: auto;
        border-style: solid;
        border-width: 1px;
    }
</style>

<script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>

<div>
    <h3>WELCOME TO @ViewData["RoomID"] ROOM</h3>
    <div id="container">
    </div>
</div>

<script>

    class Square {
        constructor(x, y, edge) {
            this.x = x;
            this.y = y;
            this.edge = edge;
        }
    }

    var stage = new Konva.Stage({
        container: 'container',
        width: 640,
        height: 480
    });
    var width = window.innerWidth;
    var height = window.innerHeight;

    var layer = new Konva.Layer();
    var squares = new Array();
</script>

@foreach (Square sq in ViewBag.Squares)
{
    <script>
        squares.push(new Square(@sq.X, @sq.Y, @sq.Edge));
    </script>
}

<script>

    squares.forEach(function (item, i, squares) {
        var box = new Konva.Rect({
            x: item.x,
            y: item.y,
            width: item.edge,
            height: item.edge,
            fill: '#00D2FF',
            stroke: 'black',
            strokeWidth: 4,
            draggable: true
        });

        // add cursor styling
        box.on('mouseover', function () {
            document.body.style.cursor = 'pointer';
        });
        box.on('mouseout', function () {
            document.body.style.cursor = 'default';
        });

        layer.add(box);
        stage.add(layer);
    });
</script>