<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/rtgamesmain.css" />
</head>

<body>
    <div id="hat">
        RT Games
    </div>
    <div id="main">
        <div id="menu">
            <a class="menuLink" href="/">HOME</a>
            <a class="menuLink" asp-area="" asp-controller="Game" asp-action="Game">GAME</a>
            <a class="menuLink" href="#">THREE</a>
            <a class="menuLink" href="/">ABOUT</a>
        </div>

        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>