<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/rtgamesmain.css" /> 
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body>
    <div id="hat">
        RT Games
    </div>
    <div id="main">
        <div id="menu">
            <a class="menuLink" href="/">HOME</a>
            <a class="menuLink" asp-area="" asp-controller="GameRooms" asp-action="Game">GAME</a>
            <a class="menuLink" href="#">THREE</a>
            <a class="menuLink" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
