#hat {
    width: auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ff1744;
    color: white;
    margin: 0;
    font-size: 24pt;
}
#main {
    margin: auto;
    min-width: 800px;
    max-width: 1000px;
}
#menu {
    font-size: 13px;
    text-align: center;
    background-color: #212120;
}
#content {
    min-height: 640px;
    font-size: 18px;
    background-color: white;
    padding: 18px;
}
#mainCanvas{
    background-color: gray;
}

.canvass{
    border:2px solid #000000;
	text-align: center;
}

body {
    background-color: #ff80ab;
    margin: 0px;
}

h1, h2, h3 {
	text-align: center;
    margin: 0;
}

img {
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 15px;
}

.menuLink:link, .menuLink:visited {
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.menuLink:hover, .menuLink:active {
    background-color: #41403f;
}
.canvas {
    text-align: center;
}