#hat {
    width: auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ff1744;
    color: white;
    font-size: 24pt;
}
#main {
    margin: auto;
    min-width: 800px;
    max-width: 1000px;
}
#menu {
    font-size: 13px;
    text-align: center;
    background-color: #212120;
}
#content {
    min-height: 640px;
    font-size: 18px;
	margin: 10px;
    background-color: white;
}

body {
    background-color: #ff80ab;
}

h1 {
	text-align: center;
    margin: 0;
}

img {
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 15px;
}

a:link, a:visited {
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #41403f;
}