@model IEnumerable<MVCGame.Models.Game>
@{
    ViewData["Title"] = "GAME";
}

<h3>Game rooms</h3>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td></td>
    </tr>
    @foreach (var game in Model)
    {
        <tr>
            <td>@game.Id</td>
            <td>@game.Name</td>
            <td><a href="#">JOIN</a></td>
        </tr>
    }
</table>