
@{
    ViewData["Title"] = "RT GAMES";
}


<img src="~/images/team.jpg" alt="developers" />
<h1>Who we are?</h1>
    A young and successful team of professional <b>AAA</b> games developers.
<p>
    In 1997, RT Games released Grand Theft Auto, which was a huge success; the game sparked a successful series.
    The company was soon acquired by Gremlin Interactive. Following the release of Grand Theft Auto 2, Gremlin was acquired by Infogrames.
    RT Games was sold to Take-Two Interactive, the owner of Grand Theft Auto publisher RT Games Games.
    In 2001, after the release of Grand Theft Auto III, RT Games was ultimately renamed RT Games and became part of the RT Games Games umbrella.
    After the shift, the company worked on new titles, including Manhunt, provided support to other RT Games games such as Red Dead Redemption and Max Payne 3,
    and continued the Grand Theft Auto franchise with Grand Theft Auto IV (2008) and Grand Theft Auto V (2013).
    Both games are considered one of the best video games made and Grand Theft Auto V became one of the best-selling games of all time.
    Leslie Benzies headed the studio since the Take-Two acquisition until his departure in 2016.
</p>