@model IEnumerable<MVCGame.Models.Publication>
@{
    ViewData["Title"] = "PUBLICATIONS";
}

@foreach (var publication in Model)
{
    <img src="~/images/Publication/@publication.ImageName" alt="@publication.Title Image"/>
    <h3>@publication.Title</h3>
    <p>@publication.Text</p>
}