@model IEnumerable<MVCGame.Models.Game>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>RT Games</title>
</head>
<body>
    <h3>Games</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td></td>
        </tr>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td><a href="~/Home/Buy/@game.Id">Join</a></td>
            </tr>
        }
    </table>
</body>
</html>