@model IEnumerable<MVCGame.Models.Publication>
@{
    ViewData["Title"] = "PUBLICATIONS";
}

<div class="publicationsbody"/>


<script>
    // Получение всех пользователей
    function GetPublications() {
        $.ajax({
            url: '/api/Publications',
            type: 'GET',
            contentType: "application/json",
            success: function (Publications) {
                var rows = "";
                $.each(Publications, function (index, Publication) {
                    // добавляем полученные элементы в таблицу
                    rows += row(Publication);
                })
                $(".publicationsbody").append(rows);
            }
        });
    }

    function SetPublicationsHeights() {
        $.ajax({
            url: '/api/Publications',
            type: 'GET',
            contentType: "application/json",
            success: function (Publications)
            {
                $.each(Publications, function (index, Publication) {
                    // добавляем полученные элементы в таблицу
                    var img = document.getElementById('Img_' + Publication.id);
                    var width = img.clientWidth;
                    var height = img.clientHeight;
                    document.getElementById("Pub_" + Publication.id).style.minHeight = height + 50 + "px";
                })
            }
        });
    }

    // Получение одного пользователя
    function GetPublication(Id) {
        $.ajax({
            url: '/api/Publications/' + Id,
            type: 'GET',
            contentType: "application/json",
            success: function (Publication) {
                var form = document.forms["PublicationForm"];
                form.elements["Id"].value = Publication.Id;
                form.elements["Title"].value = Publication.Title;
                form.elements["Text"].value = Publication.Text;
                form.elements["ImageName"].value = Publication.ImageName;
            }
        });
    }
    // Добавление пользователя
    function CreatePublication(PublicationTitle, PublicationText, PublicationImageName) {
        $.ajax({
            url: "api/Publications",
            contentType: "application/json",
            method: "POST",
            data: JSON.stringify({
                Title: PublicationTitle,
                Text: PublicationText,
                ImageName: PublicationImageName
            }),
            success: function (Publication) {
                reset();
                $("table tbody").append(row(Publication));
            }
        })
    }
    // Изменение пользователя
    function EditPublication(PublicationId, PublicationTitle, PublicationText, PublicationImageName) {
        $.ajax({
            url: "api/Publications",
            contentType: "application/json",
            method: "PUT",
            data: JSON.stringify({
                Id: PublicationId,
                Title: PublicationTitle,
                Text: PublicationText,
                ImageName: PublicationImageName
            }),
            success: function (Publication) {
                reset();
                $("tr[data-rowid='" + Publication.Id + "']").replaceWith(row(Publication));
            }
        })
    }

    // сброс формы
    function reset() {
        var form = document.forms["PublicationForm"];
        form.reset();
        form.elements["Id"].value = 0;
    }

    // Удаление пользователя
    function DeletePublication(Id) {
        $.ajax({
            url: "api/Publications/" + Id,
            contentType: "application/json",
            method: "DELETE",
            success: function (Publication) {
                $("tr[data-rowid='" + Publication.Id + "']").remove();
            }
        })
    }
    // создание строки для таблицы
    var row = function (Publication) {
        return "<div class=\"publication\" id=\"Pub_" + Publication.id + "\">"
            + "<img id=\"Img_" + Publication.id + "\" src=\"/images/Publication/" + Publication.imageName + "\"/>"
            + "<h3>" + Publication.title + "</h3>" + "<p>" + Publication.text + "</p></div>";
    }
    // сброс значений формы
    $("#reset").click(function (e) {

        e.preventDefault();
        reset();
    })

    // отправка формы
    $("form").submit(function (e) {
        e.preventDefault();
        var Id = this.elements["Id"].value;
        var Title = this.elements["Title"].value;
        var Text = this.elements["Text"].value;
        var ImageName = this.elements["ImageName"].value;
        if (Id == 0)
            CreatePublication(Title, Text, ImageName);
        else
            EditPublication(Id, Title, Text, ImageName);
    });

    // нажимаем на ссылку Изменить
    $("body").on("click", ".editLink", function () {
        var Id = $(this).data("Id");
        GetPublication(Id);
    })
    // нажимаем на ссылку Удалить
    $("body").on("click", ".removeLink", function () {
        var Id = $(this).data("Id");
        DeletePublication(Id);
    })

    // загрузка пользователей
    GetPublications();
    SetPublicationsHeights();

</script>
