@model IEnumerable<MVCGame.Models.Publication>
@{
    ViewData["Title"] = "PUBLICATIONS";
}

<h3>Publications</h3>
<table>
    <tr>
        <td>ID</td>
        <td>TITLE</td>
    </tr>
    @foreach (var publication in Model)
    {
        <tr>
            <td>@publication.Id</td>
            <td>@publication.Title</td>
        </tr>
    }
</table>