@model IEnumerable<MVCGame.Models.Publication>
@{
    ViewData["Title"] = "PUBLICATIONS";
}

<div id="searchresults">
    <h3>Поиск публикации по ID: @Model.First().Id</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Title</li>
        }
    </ul>
</div>