@model List<MVCGame.Models.Square>
<script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>

<style>
    #container {
        width: 640px;
        height: 480px;
        margin: auto;
        border-style: solid;
        border-width: 1px;
    }
</style>

<div>
    <h3>WELCOME TO "@ViewData["GameName"]" ROOM</h3>
    <div id="container">
    </div>
</div>

<script>

    var stage = new Konva.Stage({
        container: 'container',
        width: 640,
        height: 480
    });
    var layer = new Konva.Layer();

    var sqx = 0, sqy = 0;

    // Получение всех
    function GetSquares() {
        $.ajax({
            url: '/api/Squares',
            type: 'GET',
            contentType: "application/json",
            success: function (Squares) {
                $.each(Squares, function (index, Square)
                {
                    var box = new Konva.Rect({
                        x: Square.x,
                        y: Square.y,
                        width: Square.edge,
                        height: Square.edge,
                        fill: '#00D2FF',
                        stroke: 'black',
                        strokeWidth: 4,
                        draggable: true
                });

                box.on('mouseover', function ()
                {
                    document.body.style.cursor = 'pointer';
                });

                    layer.add(box);
                    stage.add(layer);

                    sqx = Square.x;
                    sqy = Square.y;
                })
                //$(".publicationsbody").append(rows);
            }
        });
    }

    // Изменение
    function EditSquare(squareId, squareGameId, squareEdge, squareX, squareY) {
        $.ajax({
            url: "../api/Squares",
            contentType: "application/json",
            method: "PUT",
            data: JSON.stringify({
                id: squareId,
                gameId: squareGameId,
                edge: squareEdge,
                x: squareX,
                y: squareY
            })
        })
        console.log("putty");
    }

    // загрузка
    GetSquares();
    EditSquare(1, 1, 100, sqx , sqy);
</script>



